.tooltip {
    padding: 0.25rem 0.5rem;
    background:#212121;
    font-weight: 200;
    position: absolute;
    bottom: 8px!important;
    display: block;
    font-size: 0.775rem;
    border-radius: 5px;
    color: white;
    left:0!important;
    text-align: left!important;
    font-style: italic;
}
